# Python
__pycache__/

# Libraries and Models
CLIP/
taming-transformers/
taming/
checkpoints/

# Editor
.vscode/

# Operations
outputs/
steps/

# Files
output.png
steps.mp4

# Directories
outputs
outputs2
samples
music_sample

output.mp4
output.ts
steps2
steps3